@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: 207 23% 91%;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  --muted: 0 0% 51%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;

  --border: 0 0% 83%;
  --heading: 0 0% 24%;
  --text: 0 0% 32%;

  --icon: 0 0% 51%;

  --scroller-bg: var(--border);
}

[theme="dark"],
.dark {
  --scroller-bg: 218 16.85% 34.9%;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: hsl(var(--heading));
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 3.06rem;

  &.display {
    font-size: 5rem;
    font-weight: 700;
    line-height: 6.25rem;
  }
}

h2 {
  color: hsl(var(--heading));
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.0425rem;

  &.display {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5.75rem;
  }
}

h3 {
  color: hsl(var(--heading));
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6875rem;

  &.display {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.84rem;
  }
}

h4 {
  color: hsl(var(--heading));
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.36rem;

  &.display {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.23rem;
  }
}

h5 {
  color: hsl(var(--heading));
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.56rem;

  &.display {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.63rem;
  }
}

h6 {
  color: hsl(var(--heading));
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;

  &.display {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.025rem;
  }
}

p {
  color: hsl(var(--text));
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.43rem;

  &.extralarge {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 2.38rem;
  }

  &.large {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.361875rem;
  }

  &.small {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.43rem;
  }

  &.extrasmall {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
  }

  &.subtitle {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.05rem;
  }

  &.caption {
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 0.9rem;
  }
}

a {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.05rem;
}

.muted {
  color: hsl(var(--muted));
}

span {
  line-height: 1rem;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
}

/* Get rid of the default styles! */
input:-webkit-autofill {
  -webkit-background-clip: text;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.25rem !important;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  display: block;
  border-radius: var(--radius-md);
  background: hsl(var(--scroller-bg));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--scroller-bg));
}

